body{
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    margin:0;
    padding:0;
}
.container{
    width:1121px;;
    margin:0 auto;
}
.top-bannar{
    margin-top: 20px;
    background-color:  #161616;
    display:flex;
    padding-top:70px ;
    border-radius: 30px;
}
.bannar-box{
    width:50%;
}
.bannar-box{
    padding: 0px 70px; 
    color:white;
}
.tob-bannar-headear{
    font-size: 70px;
    line-height: 75px;
    margin:0;
}
.bannar-info{
    line-height: 26px;
}
.link-button button{
    background-color: #E54040;
    font-size: 16px;
    line-height: 26px;
    color:white;
    border-radius: 6px;
    padding:10px;
}
.fa-solid{
    margin-left: 10px;
}
 .bannar-box img{
    width:100%;
} 