body{
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    margin:0;
    padding:0;
}
.container{
    width:1121px;;
    margin:0 auto;
    margin-bottom: 100px;
}
.top-bannar{
    margin-top: 20px;
    background-color:  #161616;
    display:flex;
    padding-top:70px ;
    border-radius: 30px;
}
.bannar-box{
    width:50%;
}
.bannar-box{
    padding: 0px 70px; 
    color:white;
}
.tob-bannar-headear{
    font-size: 70px;
    line-height: 75px;
    margin:0;
}
.bannar-info{
    line-height: 26px;
}
.link-button button{
    background-color: #E54040;
    font-size: 16px;
    line-height: 26px;
    color:white;
    border:1px solid white;
    border-radius: 6px;
    padding:10px;
    width:150px;
    cursor:pointer;
}
.fa-solid{
    margin-left: 10px;
    transition:0.5s;
}
.link-button button:hover .fa{
    margin-left: 20px;
}
 .bannar-box img{
    width:100%;
} 
/* -------------------
Upcoming-&live-Match
----------------------- */
 /*================= first and secend design /============ */
.Upcoming-live-Match{
    display: flex;
 }
 .Upcoming{
    width:20%;
 }
 .upcoming-match{
    background:black;
    padding:13px 0px;
    border-radius: 15px;
 }
.upcoming-button{
    width:185px;
    margin:10px 20px ;
    padding:15px 20px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}
.blog-button {
    background: #ff0000;
  }
 
.live-match{
    width:80%;
} 
.match-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.play-box img{
    width:100%;
}
.play-box{
    margin-left: 18px;
    margin-bottom: 20px;
    border-radius: 8px;
    border:1px solid #3b3b3b18;
}
/*================= first and secend design /============ */
.play-info{
    margin: 15px;
}
.play-info button{
    background-color: white;
    border:2px solid #222222;
    border-radius: 5px;
    padding:4px 8px;
    font-size: 13px;
    font-weight: 700;
    cursor:pointer;
}
.play-info p{
    font-size: 16px;
    font-weight: 700;
}
.play-time a{
    margin-right: 24px;
    color:#8a8888;
    text-decoration: none;
    font-size: 14px;
}
/*------------ --------
           footer section 
----------------------------*/
.footer-section{
    background-color: black;
    padding:100px 0px;
    text-align:center;
    color:#b4b4b4;
}
hr{
    width:75%;
    border-top: 0.2px solid #24222200;
}
.footer-nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.footer-nav ul li{
    margin:20px;
    font-size: 14px;
    font-weight: 400;
}
.footer-icon{
    margin-top: 25px;
}
.footer-icon a{
    color:#9e9e9e;
    margin:0px 10px;
    font-size: 15px;
    border:1px solid white;
    padding:15px 17px;
    border-radius: 50%;
}
.footer-icon a:hover{
    background-color:white;
    color:black;
}
/*=============================== index html page design ende ================================= */
/* ========================================upcoming design page ============================== */

.image-flag{
    display:flex;
    align-items: center;
    padding:35px 18px 0px 18px;
}
.varses{
    font-size: 20px;
    font-weight: 800;
    padding:0px 18px;
}
.flag-info{
    text-align: center;
    padding-bottom: 35px;
}
.flag-info p{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 18px;
}
.flag-info span{
    font-size: 14px;
}